<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/all.min.css"/>
  </head>

  <body>
    <div class="jumbotron-main">
      <div class="container">
        {% block menu %}
        <nav class="navbar navbar-fixed-top">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav pull-right">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        {% endblock %}
        <h1>She can code it.</h1>
        <p>Empowering Women in Tech</p>
        <p><a class="btn btn-primary btn-lg" href="/signUp.html" role="button">Join Me!</a></p>
      </div>
    </div>
    <div class="container">
      <div class="row top-margin">
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About Me</h4>
            <p>I'm a mom. I'm learning web development. I believe in the power of women
            creating a diversified tech field.I'm chronicaling the 
            challenges and joys of learning to code and the transition
            from homemaker to development diva. Join me
            on this adventure.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>  
            <ol class="list-unstyled">
              <li><a href="#"src="#.md">May 2016</a></li>
              <li><a href="#"src="#.md">June 2016</a></li>
              <li><a href="#"src="#.md">July 2016</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>You Can Find Me Elsewhere</h4>
            <ul>
              <li><a href="https://github.com/csdavis09">GitHub</a></li>
              <li><a href="https://www.linkedin.com/in/candrasdavis">LinkdIn</a></li>
              <li><a href="https://twitter.com/csdavis2009">Twitter</a></li>
              <li><a href="#">Instagram</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-8 blog-main">
          {% block content %}{% endblock %}
          <!--<div class="blog-post">
            <h2 class="blog-post-title">Title Here</h2>   
            <p class="blog-post-meta">May 2016 by <a href="#">Twitter Handle</a></p>
            <nav>
            <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
            </ul>
            </nav>
            </div>  --> 
        </div>
      </div>
      <footer class="blog-footer">
        <div class="container">
          <ul class="list list-inline text-center">
            <li><img src="/img/LinkedIn.png" alt="linkdin"></li> 
            <li><img src="/img/Twitter.png" alt="twitter"></li>
            <li><img src="/img/Instagram.png" alt="instagram"></li>
            <li><img src="/img/GitHub.png" alt="github"></li>
          </ul>
        </div>
      </footer>
      <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
