{% extends "layout.html"%}
{% block content %}
<div class="container">
  <h1>About Me. <img src="/img/thumbnail.jpg" alt="thumbnail"></h1>
  <p>Hi. Thanks for stopping by. My name is Candra, and I reside in NW Indiana (just outside of Chicago).
  I'm learning to code, but I have big plans to start my own freelance web development business.
  I hope to provide development solutions for a more connect world.</p>
  <p> My path to development started in pharmaceutical sales, where  I garnered experience in
  C-level sales, training, business development and customer relations. 
  My love for problem solving, logic and all things tech lead me to my new
  love of web development.  While I am learning, I hope to use this space to
  chronicle my journey while learning with Devschool.rocks.</p> 
</div>

{% endblock %}
