{% extends "layout.html"%}
{% block blog %}
  <div class="container">
      <div class="row top-margin">
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
          <div class="sidebar-module" id="sidebar">
            <h2>About Me</h2>
            <p>I'm a mom. I'm learning web development. I believe in the power of women
            creating a diversified tech field. I'm chronicaling the 
            challenges and joys of learning to code and the transition
            from homemaker to development diva. Join me
            on this adventure.</p>
            <h4>Archives</h4>  
            <ol class="list-unstyled">
              <li><a href="#"src="#.md">May 2016</a></li>
              <li><a href="#"src="#.md">June 2016</a></li>
              <li><a href="#"src="#.md">July 2016</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>You Can Find Me Elsewhere</h4>
            <ul class="list-unstyled">
              <li><a href="https://github.com/csdavis09">GitHub</a></li>
              <li><a href="https://www.linkedin.com/in/candrasdavis">LinkdIn</a></li>
              <li><a href="https://twitter.com/csdavis2009">Twitter</a></li>
              <li><a href="#">Instagram</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-8 blog-main" id="mainCol">
        </div> 
        </div>
      </div>
{% endblock %}
