{% extends "layout.html" %}
{% block menu %}
            <li><a href="/"><strong>Home</strong></a></li>
            <li><a href="/about.html"><strong>About</strong></a></li>
            <li><a href="/projects.html"><strong>Portfolio</strong></a></li>
            <li><a href="/contactMe.html"><strong>Contact Me</strong></a></li>
{% endblock %}
{% block content %}

<div class="container">
  <h3>My recent posts</h3>
  {% for post in site.posts %}
  <article>
    <a href="{{ post.permalink }}">{{ post.title }}</a>
    <div class="meta">{{ post.formattedDate }}</div>
    {{ post.summary | safe }}

    <p><a href="{{ post.permalink }}">READ MORE</a></p>
  </article>
  {% endfor %}
</div>
{% endblock %}
