.affix-top,
.affix {
  position: static;
}

nav.home-nav {
  float: right;
  list-style: none;
}

nav.home-nav li {
  display: inline-block;
  margin-left: 30px;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }

  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

html,
body {
  height: 100%;
}

@media (min-width: 680px) {
  .jumbotron-main {
    padding-top: 10px;
    background-image: url(/img/coffee-apple-iphone-laptop.jpg);
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }
}

.top-margin {
  margin-top: 2em;
}

a.navbar-brand {
  padding-bottom: 5px;
  color: #007a7a;
  background: transparent;
}


.nav>li>a, .nav>li>a, a.navbar-brand {
  color: #007a7a;
  padding-bottom: 5px;
  text-decoration: underline;
}

.nav>li>a:focus, .nav>li>a:hover,
a.navbar-brand:focus, a.navbar-brand:hover {
  color: #9ca8b8;
  background: transparent;
}
.hero-header,
.hero-msg {
  color: #fff;
}
.sidebar-module {
  text-align: center;
  border: 2px solid blue;
}


.footer li {
  display: inline-block;
  margin: 0px;
  padding: 20px 20px;
  width: 100%;
  border: #F9A25A 3px 0 0 0;
  text-align: center;
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:4px;
}

#mainCol {
  float: right;
}

#mainCol h2 {
  padding-top: 55px;
  margin-top: -55px;
}
